<a href="https://colab.research.google.com/github/bashartech/py-collab/blob/main/pythion_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# class 3

# LIST (array)

fruits:list[str] = ["apple", "banana", "pear","peach","melon"]
print(fruits)
print(fruits[1])
print(fruits[-1])
print(fruits[1:4]) # slice
fruits.append("strawberry")  #to add at last
print(fruits)
fruits.extend(["watermelon","lichee"])
print(fruits)
fruits.insert(2, "orange")
print(fruits)
store = fruits.pop(6)
print(fruits)
print(store)
# fruits.clear()
print(len(fruits))
fruits.sort()
print(fruits)
print(fruits.count("banana"))
fruits.reverse()
print(fruits)
fruits.sort(reverse=True)
print(fruits)

['apple', 'banana', 'pear', 'peach', 'melon']
banana
melon
['banana', 'pear', 'peach']
['apple', 'banana', 'pear', 'peach', 'melon', 'strawberry']
['apple', 'banana', 'pear', 'peach', 'melon', 'strawberry', 'watermelon', 'lichee']
['apple', 'banana', 'orange', 'pear', 'peach', 'melon', 'strawberry', 'watermelon', 'lichee']
['apple', 'banana', 'orange', 'pear', 'peach', 'melon', 'watermelon', 'lichee']
strawberry
8
['apple', 'banana', 'lichee', 'melon', 'orange', 'peach', 'pear', 'watermelon']
1
['watermelon', 'pear', 'peach', 'orange', 'melon', 'lichee', 'banana', 'apple']

In [18]:
numbers:list[int] = [1, 34, 5, 23, 99]
print(numbers[: : -1]) # it reverse the list

[99, 23, 5]

In [23]:
# TUPULE
cars:tuple = ("hello, I am good" ,"Bashar " )
car1:list = ["hello, I am good", "Bashar"]
car1[1] = "saad"
#cars[1] = "saad" # it will through an error because tuple are immutable
print(car1)
print(cars)

['hello, I am good', 'saad']
('hello, I am good', 'Bashar ')

In [25]:
# NUMBERS METHODS
print(max(1,2,34,3,22,1))
print(max(1,2,34,3,22,1))
print(round(2.4))
print(round(2.6))
print(round(2.5))
print(round(3.5))
print(pow(3,3))

34
34
2
3
2
4
27