<a href="https://colab.research.google.com/github/bashartech/py-collab/blob/main/set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# class 4

# DICTIONARY

std = {
    "name" : "Bashar",
    "age" : 19,
    "occupation" : "Sofrware Engineer" "Web development",
    "address": {
        "address1" : "abc street",
        "address2" : "xyz street"
    }

}
print(std)
print(std['occupation'])
print(std["address"]["address2"])
print(std['occupation'][1])

{'name': 'Bashar', 'age': 19, 'occupation': 'Sofrware EngineerWeb development', 'address': {'address1': 'abc street', 'address2': 'xyz street'}}
Sofrware EngineerWeb development
xyz street
o

In [ ]:
user = {
    "name" : "Bashar",
    22 : "Roll no",
    ("BSc", "Inter") : "Qualification"
}
print(user[("BSc", "Inter")])
user["name"] = "Saad"
print(user)
std['address']["address2"] = "London"
print(std)

Qualification
{'name': 'Saad', 22: 'Roll no', ('BSc', 'Inter'): 'Qualification'}
{'name': 'Bashar', 'age': 19, 'occupation': 'Sofrware Engineer Web development', 'address': {'address1': 'abc street', 'address2': 'London'}}

In [ ]:
# DICTIONARY METHODS
print(std)
# print(std["Bashar"])
print(std.get("name", "not defined"))

{'name': 'Bashar', 'age': 19, 'occupation': 'Sofrware EngineerWeb development', 'address': {'address1': 'abc street', 'address2': 'xyz street'}}
Bashar

In [ ]:
print(std.popitem())
del std["age"]
print(std)
print(std.clear())

('address', {'address1': 'abc street', 'address2': 'xyz street'})
{'name': 'Bashar', 'occupation': 'Sofrware EngineerWeb development'}
None

In [ ]:
print(std.keys())
print(std.values())
print(std.items())
std.update({"age": 18,"name": "Uzair"})
std.update({"class": 12})
print(std)

dict_keys(['name', 'age', 'occupation', 'address', 'class'])
dict_values(['Bashar', 18, 'Sofrware EngineerWeb development', {'address1': 'abc street', 'address2': 'xyz street'}, 12])
dict_items([('name', 'Bashar'), ('age', 18), ('occupation', 'Sofrware EngineerWeb development'), ('address', {'address1': 'abc street', 'address2': 'xyz street'}), ('class', 12)])
{'name': 'Uzair', 'age': 18, 'occupation': 'Sofrware EngineerWeb development', 'address': {'address1': 'abc street', 'address2': 'xyz street'}, 'class': 12}

In [ ]:
# SETS
students_set = { "taimoor", "saad", "mahad", "hamza", "taimoor"}
print(students_set)
students_set.add("bilal")
print(students_set)

{'hamza', 'mahad', 'taimoor', 'saad'}
{'taimoor', 'bilal', 'hamza', 'mahad', 'saad'}

In [ ]:
set1 = {1, 2, 3, 4, 6}
set2 = {5, 4, 2, 6}
print(set1.union(set2))
print(set2.union(set1))
print(set1.intersection
 (set2))
print(set1.difference
 (set2))
print(set2.difference
 (set1))
print(set1.symmetric_difference
 (set2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{2, 4, 6}
{1, 3}
{5}
{1, 3, 5}

In [ ]:
nums = [1,2,3,2,1,4,50,0,34,21]
print(set(nums))

students_set = { "taimoor", "saad", "mahad", "hamza", "taimoor"}
students_set.add("musab")
print(students_set)

# to make set immutable
students_set2 = frozenset({ "taimoor", "saad", "mahad", "hamza", "taimoor"})
# students_set2.add("musab") # it will give error
print(students_set2)

{0, 1, 2, 3, 4, 34, 50, 21}
{'taimoor', 'hamza', 'musab', 'mahad', 'saad'}
frozenset({'hamza', 'mahad', 'taimoor', 'saad'})

In [ ]:
day = 1
match day:
  case 1 :
    print("today is Monday")
  case 2 :
    print("today is Tuesday")
  case _ :
    print(" today is Sunday ")

today is Monday
1